@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* VARIABLES */
:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Overpass', sans-serif;
}

/* RESET DEFAULT STYLES */


a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}
/* 
img {
    max-width: 100%;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    margin-bottom: 1rem;
}

/* UTILITY CLASSES */
.landing-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-primary {
    color: var(--color-primary);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}


.btn-primary:hover {
    background-color: #a03dd1;
}

.btn-secondary {

    border: 1px solid var(--color-primary);
}

.btn-secondary:hover {
    background-color: var(--color-primary);
    color: #fff;
}

.section-subheading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.section-heading {
    font-size: 3rem;
    max-width: 600px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.section-heading.left {
    margin-right: auto;
}

.section-heading.right {
    margin-left: auto;
}



/* GLOBAL STYLES */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    line-height: 1.5;
    overflow-x: hidden;
}

section {
    position: relative;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;

}

/* HEADER */
header{
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    z-index: 999;
}

.header__logo img{
    width: 7rem;
    border-radius: 50%;
}
.header_menu{
    gap:1rem;
}

.header_menu li a{
    font-size: 0.8rem;
    font-weight: 600;
    transition: color 0.3s;
}
.header_menu li a:hover{
    color:var(--color-primary);
}

header .right{
    gap:1rem;
}


#hero{
    min-height: 100vh;
}

.hero__content{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: var(--color-primary); */
}
.hero__content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
}
.hero__content p{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
.hero__img{
    width: 60%;
}

@media screen and (max-width: 768px) {

    /* GLOBAL */
.container{
    padding: 0 1rem;
}
section{
    padding-top: 2rem !important;
    padding-bottom: 3rem !important;
}
.section-heading{
    font-size: 2rem;
}
    /* HEADER */
.header__menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transform: translateX(-100%);
}


   

    #hero{
        flex-direction: column;
        justify-content: center; 
    }
    .hero__content{
        width: 100%;
        text-align: center;
    }
    .hero__content h1{
        font-size: 2.5rem;
    }

    .hero__content .btn{
        margin: 0 auto;
    }

    .hero__img{
        width: 100%;
    }

  

}


